/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-block {
  padding: 0 15px;
}
.icons {
  size: 35px;
}
