<footer class="page-footer">
  <div class="footer-conact">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text align-center">Nous Contacter</h5>
          <a class="grey-text text-lighten-3" href="#!"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@mesmidis.com</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text align-center">Rejoignez-nous</h5>
        <ul>
          <div class="valign-wrapper">
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 right" href="#!"> © 2017 Copyright Mes Midis</a>
      </div>
    </div>
</footer>

