<footer class="page-footer">
  <div class="footer-conact">
    <div class="row">
      <div class="col s6 center">
        <h4 class="white-text align-center">Nous Contacter</h4>
          <a class="grey-text text-lighten-3" href="#!"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@mesmidis.com</a>
      </div>
      <div class="col s6 center">
        <h4 class="white-text">Nous suivre</h4>
          <ul">
          <div class="valign-wrapper">
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="valign"><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </div>
          </ul>
      </div>
      <a class="grey-text text-lighten-4 right padding-right" href="#!"> © 2017 Copyright Mes Midis</a>
    </div>
  </div>

</footer>

