<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= current_restaurant %>

<a class="waves-effect waves-light btn">button</a>

<blockquote>
  This is an example quotation that uses the blockquote tag.
</blockquote>
