// Your footer style
footer{
  bottom: 0px;
}
.footer-container{
  height: 70px;

}
.valign-wrapper {
    justify-content: center;
}

.fa{
font-size: 40px;
padding: 0 15px;
}

.fa:hover{
  color: $brand-second-color;
  font-size: xx-large;
}

