nav {
  //background-color: $cream;
  // padding-top: 15px;


}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
// height: 60px;
// line-height: 60px;
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 200px; /* Changed this to accomodate content width */
  max-height: auto;
  margin-left: 1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

#logo {
  height: 25px;
  margin-top: 17px;
  margin-left: 50px;

}

#logo_notifications{
  height: 30px;
  margin-top: 15px;
  margin-right: 25px;
}

.btn-navbar {
  background-color: $brand-color;
}

.icon-navbar {
    line-height: inherit;
    width: 1.2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}


