/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

html {
    font-family: $base-font;
    background-color: $cream;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h6 {
  font-family: $header-font;
}

h1 {

    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 80px;
    text-transform: capitalize;
}

h2 {
  letter-spacing: 2.5px;
}

h3 {
  letter-spacing: 2.5px;
}

h5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.5px
}

p {
  font-size: 1.1em;
}

img {
  border-radius: 4px;
}
.wrapper {
  background-color: $cream;
  padding: 0;
  margin: 0;
}
.select-wrapper {
  z-index: 999;
}

.checkbox {
  float: left !important;
  padding-right: 10px;
}
.uppercase {
text-transform: uppercase;
}


// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padding-right {
    padding-right: 20px;
}


//index meals
.title-done {
    background-color: $brand-second-color;
    border-radius: 5px;
    color: white;
}

.content-meals {
  position: relative;
  margin-top: 60px;
  min-height: 750px;
  overflow-x: hidden;
  width: 100%;
}

.annulation-meal {
      margin-top: 20px;
}
.annulation-meal a {
      color: $brand-second-color;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

