/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

html {
    font-family: $base-font;
    background-color: $cream;
  }

h1 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
}

.wrapper {
  background-color: $cream;
  padding: 0;
  margin: 0;
}

// form registration
.login-form {
    width: 280px;
}
// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

