/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

html {
    font-family: $base-font;
    background-color: $cream;
  }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

h1 {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 600;
}

h5 {
  text-transform: uppercase;
}

// form registration
.login-form {
    width: 400px;
}

.input-field.col label {
    left: 0rem;
    text-transform: uppercase;
}

.wrapper {
  background-color: $cream;
  padding: 0;
  margin: 0;
}



// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

