/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

#card-alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: color($brand-second-color, "base");
}
.alert-warning {
  background: color($brand-color, "base");
}

#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}
