.card-wrapper {
  margin: 0 0 100px 0 !important;
}
.flex-meal-of-day {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-category-meal
{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family:$base-font;
  font-size: 12px;
  text-transform: uppercase;
  color:$cream;
  border: 1px solid $cream;
  padding: 0px 5px;
  border-radius: 4px;
  letter-spacing: 0.5px;
}

.card-meal {
  // height:350px;
  // width: 300px;
  height: 395px;
  // width: 345px;
}
.card-meal-today {
  height:550px;
  width: 450px;
}
.card-image {
  // height:215px;
  height: 260px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card-description-content {
  padding: 0px;
}
.card .card-description-content p {
     letter-spacing: 1.1px;
     line-height: 100%;
    }
.card .card-description-content .name {
  margin: 0;
  padding: 0px 5px;
  color: inherit;
  letter-spacing: 1.1px;
  font-size: 25px;
  line-height: 24px;
}

.card-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card-button-reserved {
  font-family:$base-font;
  letter-spacing: 0.5px;
  position: absolute;
  top: 290px;;
  text-weight:bold;
}
.card-button-reserved .btn-small {
  height: 30px;
  line-height: 30px;
  padding: 0 0.5rem;
  width: 150px;
}
.ultra-small {
  line-height: 100%;
  padding: 0px 4px;
}
.card-bottom-restaurant {
  color:$gray;
  font-size: 12px;
  font-family:$base-font;
  position: absolute;
    bottom: 5px;

}
.card-description-content-meal {
  color:$gray;
  font-size: 12px;
  font-family:$base-font;
  position: absolute;
  top: 275px;
  text-align: left;
  font-size: 14px;
}
.card-description-content-meal .divider {
margin-top: 35px;
}
.card-bottom-restaurant .divider {
  width: 150px;
  color: $gray;
}
.card-bottom-restaurant p {
  margin: 0px;
}
.card-bottom-restaurant p.name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.1px;

}

.icon-trajet {
  width: 30px;
}


