
.subscription-card {
  color: black;
}

.subscription-choice {
  font-family: OstrichMedium;
  text-align: center;
  font-size: 45px;
}

.subscription-title {
  color: white;
  background-color: $brand-second-color;
  border-radius: 4px;
  display: flex;
  align-item: center;
  justify-content: center;
}

.subscription-price {
  color: white;
  background-color: $brand-second-color;
  border-radius: 4px;
  display: flex;
  align-item: center;
  justify-content: center;
}

.subscription-description {
  border-left: 4px;
}

.subscription-description img {
  width: 30px;
}

.stripe_payment {
  display: flex;
  align-items: center;
}
