.card-wrapper {
  margin: 0 0 100px 0 !important;
}

.card-category-meal
{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family:$base-font;
  font-size: 12px;
  text-transform: uppercase;
  color:$cream;
  border: 1px solid $cream;
  padding: 0px 5px;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.card-image {
  text-align:center;
}
.card-meal {
  height:350px;
  width: 300px;

}
.card-image {
  height:215px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card-description-content {
  padding: 0px;
}

.card .card-description-content .name {
  margin: 0;
  color: inherit;
  letter-spacing: 1.1px;
}

.card .card-description-content p {
     letter-spacing: 1.1px;
    }
.card-bottom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.card-button-reserved {
  font-family:$base-font;
  letter-spacing: 0.5px;
  position: absolute;
  top: 250px;
  text-weight:bold;
}
.card-button-reserved .btn-small {
    height: 30px;
    line-height: 30px;
    padding: 0 0.5rem;
    width: 150px;
}

.card-bottom-restaurant {
  color:$gray;
  font-size: 12px;
  font-family:$base-font;
  position: absolute;
    bottom: 0px;

}
.card-bottom-restaurant .divider {
  width: 150px;
  color: $gray;
}
.card-bottom-restaurant p {
  margin: 0px;
}
.card-bottom-restaurant p.name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.1px;

}
.card-category
{
  position: absolute;
  top: 10px;
  left: 10px;
  font-family:$base-font;
  font-size: 12px;
  text-transform: uppercase;
  color:#ffffff;
}
.card-name {
  color:$brand-color;
  font-size:16px;
  font-family:$base-font;
  letter-spacing: 0.5px;
  position: absolute;
  top: 260px;
  left:7px;
  text-weight:bold;
}
.card-restaurant {
  color:$gray;
  font-size: 14px;
  font-family:$base-font;
  position: absolute;
  bottom: 30px;
}
.card-address {
  color:$gray-light;
  font-size: 12px;
  font-family:$base-font;
  position: absolute;
  bottom: 10px;
}

.card-button {
  font-family:$base-font;
  letter-spacing: 0.5px;
  position: absolute;
  top: 260px;
  text-weight:bold;
}
